doctype html
html
  head
    title Add User
  body
    h1 Add User

    form(action='/add', method='post')
      label(for='name') Name:
      input(type='text', name='name', required)

      label(for='email') Email:
      input(type='email', name='email', required)

      label(for='role') Role:
      select(name='role' required)
        option(value='Employee') Employee
        option(value='Manager') Manager
        option(value='TeamLeader') Team Leader

      label(for='password') Password:
      input(type='password', name='password', required)

      button(type='submit') Add User
